<h1>{{title}}</h1>
{{#with post}}<!-- post 객체를 쉽게 사용하도록 with절로 감싸기 -->
<!--1. 게시글의 제목 -->
<h2 class="text-xl">{{title}}</h2>

<!--2. 작성자 이름 -->
<div>
  작성자:<b>{{name}}</b>
</div>

<div>
  <!--3. 조회수와 작성일자 -->
  조회수:{{hits}} | 작성일시: {{dateString createdDt}}
  <!--4. 게시글 관련 버튼 영역-->
  <button onclick="modifyPost()">수정</button>
  <button onclick="deletePost()">삭제</button>
</div>

<!--5. 본문 표시 영역 -->
<div>
  <pre>{{content}}</pre>
</div>

<section>
  <div>
    <h3>
      <!--6. 댓글 개수 표시 -->
      3개의 댓글이 있습니다.
    </h3>
  </div>

  <!--7. 댓글 작성 폼 -->
  <form action="post">
    <div>
      <div>
        <input type="text" name="name" placeholder="이름" />
        <input type="password" name="password" placeholder="비밀번호" />
      </div>
      <div>
        <textarea
          name="comment"
          cols="40"
          rows="3"
          placeholder="댓글을 입력해주세요"
        ></textarea>

        <!--8. 댓글 전송 버튼 -->
        <br /><br />
        <button>댓글쓰기기</button>
      </div>
    </div>

  </form>
</section>

<!--9. 댓글 표시 영역 -->
<section>
  <div>
    <div>
      작성자:
      <b>댓글 작성자자</b>
    </div>
    <div>
      작성일시: 2022-01-01 00:00:00
      <button onclick="deleteComment('1')">삭제</button>
    </div>
  </div>
  <div>
    <pre>{{comment}}</pre>
  </div>
</section>
{{/with}}

<footer>
  <div>
    <!--10. 목록으로 가는 링크 -->
    <a href="/">목록으로</a>
  </div>
</footer>

<script>
  async function modifyPost(){}
  async function deletePost(){}
</script>